$mainColor: #795548;
$darkColor: #3e2723;
$mediumColor: #5d4037;
$color200: #bcaaa4;
$lightColor: #d7ccc8;
$lightAccent: #81c784;
$mainAccent: #4caf50;

$fontRoboto: 'Roboto', sans-serif;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
