@import 'variables';

.bookshelf {
  text-align: center;
  padding: 0;
  background-color: $mediumColor;
  margin: 0;
}

.bookshelf-title {
  font-family: $fontRoboto;
  font-weight: $fontLight;
  position: relative;
  color: #fff;
  margin: 0;
  padding: 20px 30px;
}
.bookshelf-books {
  text-align: center;
}

.bookshelf-title::before {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  content: '';
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $mediumColor;
}
