@import 'variables';

.bookshelf {
  padding: 0;
  background-color: $mediumColor;
  margin: 0;
}

.bookshelf-title {
  color: #fff;
  margin: 0;
  padding: 20px 30px;
}
.bookshelf-books {
  text-align: center;
}
