/* books grid */
@import 'variables';

.books-grid {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0;
  background-color: $darkColor;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    padding: 10px 15px;
    text-align: left;
  }
}

.book {
  padding: 10px;
  width: 130px;
  min-height: 300px;
  border: 1px solid $mainColor;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;

  .book-top {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
  }

  .book-cover {
    border: 1px solid $mainColor;
  }

  .book-title,
  .book-authors {
    font-family: $fontRoboto;
    font-size: 0.8em;
  }

  .book-title {
    margin-top: 15px;
    margin-bottom: 5px;
    color: $lightColor;
    font-weight: $fontMedium;
  }

  .book-authors {
    color: $color300;
  }
}

.book-shelf-changer {
  position: absolute;
  right: -2px;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $lightAccent;
  background-image: url('../icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
